h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listdiv {
    text-align: center;
    width:20%;
    margin:auto;
}

p{
    text-decoration: line-through;
    text-decoration-color: transparent;
}

p:hover{
    text-decoration-color:darkgray;
    color:darkgray;
    transition: all 0.25s;
    cursor:pointer;
}

.strike{
    text-decoration: line-through;
    color:darkgray;
    text-decoration-color: darkgray;
    transition: all 0.25s;
}